


div p{

	border-bottom: 2px solid orange;
	width: 10%;
	height: 30%;
	min-width: 40px;
	padding: 15px;
	background-color: #01030F;
	color: rgb(0,128,128);
	display: inline-block;
	font-size: 60px;
	box-shadow: 1px 1px 40px black;
	border-radius: 5px;
	font-family: 'Chiller',Arial;
	text-shadow: 1px 1px 1px orange;

	
}

.message{

	text-align: center;
	font-size: 70px;
	color: rgb(0,128,128);
	text-shadow: 1px 1px 40px;

}

strong{

	font-size: 25px;

}

.footer-lien-reseau img{

	width: 70px;
	height: 70px;
	border: 1px solid blue;
	border-radius: 10px;
}
.info-foot p{

	text-align: center;

	width: 100%;
	margin-left: 10px;
